In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame as df
from datetime import datetime
import numpy as np

In [2]:
folder = "c:/PY-ML/data/covid2405/"
file = folder + "district_wise.csv"

In [3]:
df = pd.read_csv(file)

In [4]:
df.columns

Index(['SlNo', 'State_Code', 'State', 'District_Key', 'District', 'Confirmed',
       'Active', 'Recovered', 'Deceased', 'Migrated_Other', 'Delta_Confirmed',
       'Delta_Active', 'Delta_Recovered', 'Delta_Deceased', 'District_Notes',
       'Last_Updated'],
      dtype='object')

In [5]:
df

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,District_Notes,Last_Updated
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,760,TG,Telangana,TG_Unknown,Unknown,1048,-515873,513805,3116,0,0,0,0,0,NaN,NaN
797,761,TR,Tripura,TR_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
798,762,UP,Uttar Pradesh,UP_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
799,763,UT,Uttarakhand,UT_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
800,764,WB,West Bengal,WB_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN

In [6]:
confirm = df[['District','Confirmed']]

In [7]:
confirm = confirm.reset_index('District')

KeyError: 'Requested level (District) does not match index name (None)'

In [ ]:
confirm